/* todo 加入Google font Roboto分別載入字重100,400,700 */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

/*------ note general ------*/

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1E3C4B;
    min-height: 1000px;
    background-image: url(../img/cork-repeat.jpg);
}

.card-wrapper {
    perspective: 1000px;
}

.card {
    width: 100%;
    margin: 100px auto;
}

@media screen and (max-width: 767px) {
    .card {
        margin: 15px auto;
    }
}

.card>.upper-section,
.card>.lower-section {
    padding: 20px 20px;
    position: relative;
}


/*------ note fonts ------*/

* {
    color: #333;
}

.dish-name {
    font-size: 50px;
    letter-spacing: 8px;
    font-weight: 700;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    margin: 0;
    text-transform: uppercase;
}

@media screen and (max-width: 767px) {
    .dish-name {
        font-size: 30px;
    }
}

.section-title {
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 5px;
    margin: 0;
    text-transform: uppercase;
}


/*------ note upper-section ------*/

.upper-section {
    background-image: url(../img/salmon-steak.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    height: 220px;
    z-index: 5;
    color: white;
    transform: rotateX(15deg);
    transform-origin: bottom;
    filter: grayscale(10%) brightness(1.15);
    cursor: pointer;
    /* todo 設定filter屬性控制照片明亮與飽和度 */
}

.toggle-btn {
    float: right;
    background-color: transparent;
    border-style: none;
    font-size: 20px;
    text-shadow: 0 3px 12px rgba(0, 0, 0, 0.8);
    display: none;
}

.toggle-btn i.fa {
    text-align: center;
}

button:focus {
    outline: none;
}

.upper-section .text {
    margin-top: 80px;
}

.upper-section * {
    color: white;
}

.upper-section p {
    margin: 0;
}

.price {
    margin-top: 15px;
    font-style: italic;
    font-size: 18px;
    font-weight: 100;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
}

.price:after {
    content: " NTD";
}

.price:before {
    content: "$ ";
}


/*------ note lower-section ------*/

.lower-section {
    background-color: white;
    z-index: 1;
    transform: rotateX(-100deg);
    transform-origin: top;
    box-shadow: 0 10px 0 -5px rgba(0, 0, 0, 0.25);
}

.ingredients {
    list-style: none;
    padding-left: 0;
}

.ingredients>li {
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    font-weight: 300;
    padding-left: 50px;
    border-bottom: 1px dashed #dbdbdb;
    position: relative;
    cursor: pointer;
    /* 利用偽元素設計checklist點擊圖樣 */
}

.ingredients>li.done {
    text-decoration: line-through;
}

.ingredients>li:before {
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid #dbdbdb;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 6px;
}

.ingredients>li.done:before {
    background-image: url('../img/checked.svg');
    background-repeat: no-repeat;
    background-position: center center;
}


/*------ note animation ------*/


/* todo 設計.card:hover動畫 */

.text,
.price,
.upper-section,
.lower-section {
    transition: all .5s ease;
}

.card.active .upper-section {
    transform: rotateX(0deg);
    filter: grayscale(0) brightness(1);
}

.card.active .lower-section {
    transform: rotateX(0deg);
}

.card.active .text {
    margin-top: 100px;
}

.card.active .price {
    opacity: 1;
}


/* todo 設計.card:hover的3D動畫 */


/* note circle */


/* todo 設計底圖擴散圓圈特效動畫 */
